In [1]:
# Try your first Python output
print('Hello, Python!')

Hello, Python!

In [2]:
# Check the Python Version

import sys
print(sys.version)

3.10.2 (tags/v3.10.2:a58ebcc, Jan 17 2022, 14:12:15) [MSC v.1929 64 bit (AMD64)]

In [3]:
# Print string and error to see the running order

print("This will be printed")
frint("This will cause an error")
print("This will NOT be printed")

This will be printed

NameError: name 'frint' is not defined

In [4]:
# Type of "Hello, Python 101!"

type("Hello, Python 101!")
type(12.34)
type(14)
type(True)

bool

In [5]:
# System settings about float type

sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [6]:
# Convert a string into an integer

int('141')

141

In [9]:
# Convert the string "1.2" into a float

print(float('1.2'))

1.2

In [10]:
total_hours = (43 + 42 + 57) / 60  # Total hours in a single expression
total_hours
#printing expressions

2.3666666666666667

STRING OPERATIONS:

In [11]:
# Assign string to variable

name = "Michael Jackson"
name

'Michael Jackson'

In [12]:
# Print the first element in the string

print(name[0])

M

In [13]:
# Print the element on the 13th index in the string

print(name[12])

s

In [14]:
# Print the last element in the string Negative Indexing

print(name[-1])

n

In [15]:
# Print the first element in the string

print(name[-15])

M

In [16]:
# Take the slice on variable name with only index 8 to index 11

name[8:12]

'Jack'

In [17]:
# Get every second element. The elments on index 1, 3, 5 ...

name[::2]

'McalJcsn'

In [18]:
# Get every second element in the range from index 0 to index 4

name[0:5:2]

'Mca'

In [19]:
# Concatenate strings

name = "Michael Jackson"
name = name + " is the best"
name

'Michael Jackson is the best'

In [20]:
# New line escape sequence

print(" Michael Jackson \n is the best" )

 Michael Jackson
 is the best

In [21]:
# Tab escape sequence

print(" Michael Jackson \t is the best" )

 Michael Jackson 	 is the best

In [22]:
# Include back slash in string

print(" Michael Jackson \\ is the best" )

 Michael Jackson \ is the best

In [23]:
# Convert all the characters in string to upper case

a = "Thriller is the sixth studio album"
print("before upper:", a)
b = a.upper()
print("After upper:", b)

before upper: Thriller is the sixth studio album
After upper: THRILLER IS THE SIXTH STUDIO ALBUM

In [24]:
# Replace the old substring with the new target substring is the segment has been found in the string

a = "Michael Jackson is the best"
b = a.replace('Michael', 'Janet')
b

'Janet Jackson is the best'

In [25]:
# Find the substring in the string. Only the index of the first elment of substring in string will be the output

name = "Michael Jackson"
name.find('el')

5

In [26]:
# Find the substring in the string.

name.find('Jack')

8